---
import BaseLayout from '../layouts/BaseLayout.astro';
import Symbols from '../components/symbols.astro';

const meta = {
  title: '母の日ギフト特集',
  description: '',
  keywords: '',
  ogpImageUrl: 'asset/topics/campaign/mothers_day/img/260423/OGP.jpg',
};
---
<BaseLayout
  title={meta.title}
  description={meta.description}
  keywords={meta.keywords}
  ogpImageUrl={meta.ogpImageUrl}
>
  <!--
	#####################################################################################
	#####################################################################################
	#####################################################################################
	#####################################################################################
	#####################################################################################

	ページコンテンツここから 

	#####################################################################################
	#####################################################################################
	#####################################################################################
	#####################################################################################
	#####################################################################################
	-->
	<!-- dwMarker="content" dwContentID="fe1c3e093f73262d2bc2809d35" -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="asset/topics/campaign/mothers_day/css/mothers260423.css?$staticlink$">

	<div id="r2-main-wrap" class="r2-main-wrap">
		<div id="r2-main" class="r2-main mothers">
			<!-- (B-1)パンくず -->
			<div class="r2-breadcrumb">
				<ol>
					<li><a href="https://store.wacoal.jp/home"><span>TOP</span></a></li>
					<li><a href="https://store.wacoal.jp/topics/topicsTop"><span>トピックス一覧</span></a></li>
					<li><span>母の日ギフト特集</span></li>
				</ol>
			</div>
			<main class="mothers-main">
				<div class="mothers-container">
					<!-- ############# MARK: Overview #############-->
					<section class="mothers-overview">
						<h1 class="mothers-title">
							<picture>
								<source media="(min-width:769px)" srcset="asset/topics/campaign/mothers_day/img/260423/kv_pc.jpg?$staticlink$" width="2560" height="920">
								<img src="asset/topics/campaign/mothers_day/img/260423/kv_sp.jpg?$staticlink$" width="750" height="860" alt="日頃の感謝を込めて母の日ギフト特集｜ギフトラッピングサービス無料キャンペーンは5/10（日）23:59まで※5,500円（税込）以上（セール品含む）のご注文が対象です。" loading="lazy">
							</picture>
						</h1>
						<div class="mothers-overview__grad">
							<div class="mothers-overview__text">
								<p>日頃の感謝の気持ちを込めて、<br>ワコールウェブストアで<br class="u-spbr">ギフトを探してみませんか？<br>インナーやパジャマはもちろん、<br>プチギフトにもおすすめな<br class="u-spbr">コスメや雑貨も豊富にご用意&hearts;</p>
							</div>
							<nav class="mothers-navigation">
								<a href="#category" class="mothers-navigation__item">
									<span>カテゴリから選ぶ</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-down"></use></svg>
								</a>
								<a href="#select" class="mothers-navigation__item">
									<span>予算から選ぶ</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-down"></use></svg>
								</a>
								<a href="#recommended" class="mothers-navigation__item">
									<span>おすすめアイテム</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-down"></use></svg>
								</a>
								<a href="#gift" class="mothers-navigation__item">
									<span>ギフトラッピング<br>サービスについて</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-down"></use></svg>
								</a>
							</nav>
						</div>
					</section>

					<!-- ############# MARK: ITEM CATEGORY #############-->
					<section id="category" class="mothers-section" data-category="category">
						<div class="mothers-section__inner">
							<h2 class="mothers-sectionTitle">
								<img src="asset/topics/campaign/mothers_day/img/260423/num-01.png?$staticlink$" width="206" height="120" alt="01" loading="lazy">
								<img src="asset/topics/campaign/mothers_day/img/260423/title-category.svg?$staticlink$" width="237" height="18" alt="ITEM CATEGORY" loading="lazy">
								<span class="mothers-sectionTitle__text">カテゴリから選ぶ</span>
							</h2>
							<div class="mothers-categoryList">
								<a href="../../disp/001950010030007/" class="mothers-categoryList__item">
									<img src="asset/topics/campaign/mothers_day/img/260423/img-category01.png?$staticlink$" width="198" height="198" alt="" loading="lazy">
									<p class="mothers-categoryList__name">ブラジャー</p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right02"></use></svg>
								</a>
								<a href="../../disp/001950010030003/" class="mothers-categoryList__item">
									<img src="asset/topics/campaign/mothers_day/img/260423/img-category02.png?$staticlink$" width="198" height="198" alt="" loading="lazy">
									<p class="mothers-categoryList__name">インナー</p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right02"></use></svg>
								</a>
								<a href="../../disp/001950010030001/" class="mothers-categoryList__item">
									<img src="asset/topics/campaign/mothers_day/img/260423/img-category03.png?$staticlink$" width="198" height="198" alt="" loading="lazy">
									<p class="mothers-categoryList__name">パジャマ<br>ルームウェア</p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right02"></use></svg>
								</a>
								<a href="../../disp/001950019950320/" class="mothers-categoryList__item">
									<img src="asset/topics/campaign/mothers_day/img/260423/img-category04.png?$staticlink$" width="198" height="198" alt="" loading="lazy">
									<p class="mothers-categoryList__name">リカバリーウェア<br>パジャマ</p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right02"></use></svg>
								</a>
								<a href="#" class="mothers-categoryList__item">
									<img src="asset/topics/campaign/mothers_day/img/260423/img-category05.png?$staticlink$" width="198" height="198" alt="" loading="lazy">
									<p class="mothers-categoryList__name">アウター</p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right02"></use></svg>
								</a>
								<a href="../../disp/001950010030005/" class="mothers-categoryList__item">
									<img src="asset/topics/campaign/mothers_day/img/260423/img-category06.png?$staticlink$" width="198" height="198" alt="" loading="lazy">
									<p class="mothers-categoryList__name">ボトムス</p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right02"></use></svg>
								</a>
								<a href="../../disp/001950010030006/" class="mothers-categoryList__item">
									<img src="asset/topics/campaign/mothers_day/img/260423/img-category07.png?$staticlink$" width="198" height="198" alt="" loading="lazy">
									<p class="mothers-categoryList__name">コスメ・雑貨</p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right02"></use></svg>
								</a>
								<a href="#" class="mothers-categoryList__item">
									<img src="asset/topics/campaign/mothers_day/img/260423/img-category08.png?$staticlink$" width="198" height="198" alt="" loading="lazy">
									<p class="mothers-categoryList__name">スポーツ<br>アイテム</p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right02"></use></svg>
								</a>
								<a href="#" class="mothers-categoryList__item">
									<img src="asset/topics/campaign/mothers_day/img/260423/img-category09.png?$staticlink$" width="198" height="198" alt="" loading="lazy">
									<p class="mothers-categoryList__name">マタニティ<br>アイテム</p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right02"></use></svg>
								</a>
							</div>
						</div>
					</section>

					<!-- ############# MARK: SELECT BY PRICE #############-->
					<section id="select" class="mothers-section" data-category="select">
						<div class="mothers-section__inner">
							<h2 class="mothers-sectionTitle">
								<img src="asset/topics/campaign/mothers_day/img/260423/num-02.png?$staticlink$" width="218" height="120" alt="02" loading="lazy">
								<img src="asset/topics/campaign/mothers_day/img/260423/title-select.svg?$staticlink$" width="248" height="18" alt="SELECT BY PRICE" loading="lazy">
								<span class="mothers-sectionTitle__text">予算から選ぶ</span>
							</h2>
							<div class="mothers-priceList">
								<a href="../../disp/001300300/?gender=1&priceMax=5%2C000.00" class="mothers-priceList__item">
									<span>〜<b>5,000</b>円</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right"></use></svg>
								</a>
								<a href="../../disp/001300300/?gender=1&priceMin=5%2C000.00&priceMax=10%2C000.00" class="mothers-priceList__item">
									<span><b>5,000</b>円〜<br><b>10,000</b>円</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right"></use></svg>
								</a>
								<a href="../../disp/001300300/?gender=1&priceMin=10%2C000.00&priceMax=15%2C000.00" class="mothers-priceList__item">
									<span><b>10,000</b>円〜<br><b>15,000</b>円</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right"></use></svg>
								</a>
								<a href="../../disp/001300300/?gender=1&priceMin=15%2C000.00" class="mothers-priceList__item">
									<span><b>15,000</b>円〜</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right"></use></svg>
								</a>
							</div>
						</div>
					</section>

					<!-- ############# MARK: RECOMMENDED #############-->
					<section id="recommended" class="mothers-section" data-category="recommended">
						<div class="mothers-section__inner">
							<h2 class="mothers-sectionTitle">
								<img src="asset/topics/campaign/mothers_day/img/260423/num-03.png?$staticlink$" width="218" height="120" alt="03" loading="lazy">
								<img src="asset/topics/campaign/mothers_day/img/260423/title-recommend.svg?$staticlink$" width="230" height="18" alt="RECOMMENDED" loading="lazy">
								<span class="mothers-sectionTitle__text">おすすめアイテム</span>
							</h2>
							<div class="mothers-itemList">
								<a href="../../disp/01_NB4040.html?color=PU" class="mothers-itemList__item">
									<p class="mothers-itemList__brand">ウイング</p>
									<p class="mothers-itemList__name">【着脱らくらく】<br>ノンワイヤーブラ</p>
									<img src="asset/topics/campaign/mothers_day/img/260423/img-recommended01.png?$staticlink$" width="318" height="318" alt="" loading="lazy">
									<p class="mothers-itemList__text">スムーズな着脱でらくちん！ほどよいフィット感がここちよいブラ&#9834;</p>
									<p class="mothers-itemList__price">¥3,190<span class="mothers-itemList__tax">(税込)</span></p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right"></use></svg>
								</a>
								<a href="../../disp/01_PPA112.html?color=BL" class="mothers-itemList__item">
									<p class="mothers-itemList__brand">ワコール</p>
									<p class="mothers-itemList__name">【4年連続1位】<br>ディアヒップショーツ</p>
									<img src="asset/topics/campaign/mothers_day/img/260423/img-recommended02.png?$staticlink$" width="318" height="318" alt="" loading="lazy">
									<p class="mothers-itemList__text">ヒップをつつみこむフィット感とやさしいはきごこちが人気の商品！</p>
									<p class="mothers-itemList__price">¥990<span class="mothers-itemList__tax">(税込)</span><span class="mothers-itemList__range">〜</span></p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right"></use></svg>
								</a>
								<a href="../../disp/01_EP7048.html?color=PI" class="mothers-itemList__item">
									<p class="mothers-itemList__brand">ウイング／スリープ</p>
									<p class="mothers-itemList__name">【綿100％】<br>パジャマ</p>
									<img src="asset/topics/campaign/mothers_day/img/260423/img-recommended03.png?$staticlink$" width="318" height="318" alt="" loading="lazy">
									<p class="mothers-itemList__text">通気性と吸汗速乾性のよい綿100％の二重ガーゼのパジャマ◎</p>
									<p class="mothers-itemList__price">¥6,490<span class="mothers-itemList__tax">(税込)</span></p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right"></use></svg>
								</a>
								<a href="../../disp/01_HDT226.html?color=IV" class="mothers-itemList__item">
									<p class="mothers-itemList__brand">アツコマタノ</p>
									<p class="mothers-itemList__name">【綿100％】<br>パジャマ</p>
									<img src="asset/topics/campaign/mothers_day/img/260423/img-recommended04.png?$staticlink$" width="318" height="318" alt="" loading="lazy">
									<p class="mothers-itemList__text">&#9734;4Lまで&#9734;綿100％で袖口の黒猫アップリケがポイントのパジャマ&#9834;</p>
									<p class="mothers-itemList__price">¥16,500<span class="mothers-itemList__tax">(税込)</span><span class="mothers-itemList__range">〜</span></p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right"></use></svg>
								</a>
								<a href="../../disp/01_YLT100.html?color=PI" class="mothers-itemList__item">
									<p class="mothers-itemList__brand">ワコール／睡眠科学</p>
									<p class="mothers-itemList__name">リカバリーパジャマ<br>一般医療機器<br>&RECOVERY　パジャマ</p>
									<img src="asset/topics/campaign/mothers_day/img/260423/img-recommended05.png?$staticlink$" width="318" height="318" alt="" loading="lazy">
									<p class="mothers-itemList__text">その疲れ、着て回復こりをほぐすパジャマ。</p>
									<p class="mothers-itemList__price">¥30,800<span class="mothers-itemList__tax">(税込)</span></p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right"></use></svg>
								</a>
								<a href="../../disp/01_CKC710.html?color=WH" class="mothers-itemList__item">
									<p class="mothers-itemList__brand">ワコール</p>
									<p class="mothers-itemList__name">リカバリーウェア<br>一般医療機器<br>&RECOVERY　ブラトップ</p>
									<img src="asset/topics/campaign/mothers_day/img/260423/img-recommended06.png?$staticlink$" width="318" height="318" alt="" loading="lazy">
									<p class="mothers-itemList__text">からだの研究を続けてきたワコールが、インナー発想で開発したリカバリーウェア。</p>
									<p class="mothers-itemList__price">¥12,100<span class="mothers-itemList__tax">(税込)</span><span class="mothers-itemList__range">〜</span></p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right"></use></svg>
								</a>
								<a href="../../disp/01_EKN637.html?color=GR" class="mothers-itemList__item">
									<p class="mothers-itemList__brand">ワコール_カルソン</p>
									<p class="mothers-itemList__name">プリント<br>Ｔブラウス</p>
									<img src="asset/topics/campaign/mothers_day/img/260423/img-recommended07.png?$staticlink$" width="318" height="318" alt="" loading="lazy">
									<p class="mothers-itemList__text">体型をカバーしてくれる設計で華やかで上品なフラワー柄プリントのトップス&#9834;</p>
									<p class="mothers-itemList__price">¥14,850<span class="mothers-itemList__tax">(税込)</span></p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right"></use></svg>
								</a>
								<a href="../../disp/01_QBN606.html?color=GR" class="mothers-itemList__item">
									<p class="mothers-itemList__brand">ワコール／ラブボディ</p>
									<p class="mothers-itemList__name">ウィリアム・モリス(R)<br>プリントブラウス</p>
									<img src="asset/topics/campaign/mothers_day/img/260423/img-recommended08.png?$staticlink$" width="318" height="318" alt="" loading="lazy">
									<p class="mothers-itemList__text">英国の芸術家ウィリアム・モリスの時代を越えて愛される美を装いに。</p>
									<p class="mothers-itemList__price">¥16,900<span class="mothers-itemList__tax">(税込)</span></p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right"></use></svg>
								</a>
								<a href="../../disp/01_KSN120.html?color=KO" class="mothers-itemList__item">
									<p class="mothers-itemList__brand">ワコール_カルソン</p>
									<p class="mothers-itemList__name">【まるでデニム】<br>ストレートシルエットパンツ</p>
									<img src="asset/topics/campaign/mothers_day/img/260423/img-recommended09.png?$staticlink$" width="318" height="318" alt="" loading="lazy">
									<p class="mothers-itemList__text">見た目を裏切る、ここちよさ「まるでデニム」</p>
									<p class="mothers-itemList__price">¥13,200<span class="mothers-itemList__tax">(税込)</span><span class="mothers-itemList__range">〜</span></p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right"></use></svg>
								</a>
								<a href="../../disp/01_KKN329.html?color=BS" class="mothers-itemList__item">
									<p class="mothers-itemList__brand">ワコール_カルソン</p>
									<p class="mothers-itemList__name">【接触冷感】<br>華やかプリントパンツ</p>
									<img src="asset/topics/campaign/mothers_day/img/260423/img-recommended10.png?$staticlink$" width="318" height="318" alt="" loading="lazy">
									<p class="mothers-itemList__text">シャリ感のある強撚素材でさらっと快適！</p>
									<p class="mothers-itemList__price">¥14,850<span class="mothers-itemList__tax">(税込)</span></p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right"></use></svg>
								</a>
								<a href="../../disp/01_KZN003.html?color=GR" class="mothers-itemList__item">
									<p class="mothers-itemList__brand">ワコール_カルソン</p>
									<p class="mothers-itemList__name">ボタニカル柄<br>プリントストール</p>
									<img src="asset/topics/campaign/mothers_day/img/260423/img-recommended11.png?$staticlink$" width="318" height="318" alt="" loading="lazy">
									<p class="mothers-itemList__text">多彩な巻き方が楽しめる！綿混素材の大判ストール&#9825;</p>
									<p class="mothers-itemList__price">¥8,800<span class="mothers-itemList__tax">(税込)</span></p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right"></use></svg>
								</a>
								<a href="../../disp/01_YEY145.html?color=RP" class="mothers-itemList__item">
									<p class="mothers-itemList__brand">ワコール／睡眠科学</p>
									<p class="mothers-itemList__name">シルクサテン<br>ナイトキャップ</p>
									<img src="asset/topics/campaign/mothers_day/img/260423/img-recommended12.png?$staticlink$" width="318" height="318" alt="" loading="lazy">
									<p class="mothers-itemList__text">上品で優雅な光沢があるシルク100％のサテンを使用&#9834;</p>
									<p class="mothers-itemList__price">¥8,140<span class="mothers-itemList__tax">(税込)</span></p>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><use href="#icon-arrow-circle-right"></use></svg>
								</a>
							</div>
						</div>
					</section>

					<!-- ############# MARK: GIFT WRAPPING SERVICE #############-->
					<section id="gift" class="mothers-section" data-category="gift">
						<div class="mothers-section__inner">
							<h2 class="mothers-sectionTitle">
								<img src="asset/topics/campaign/mothers_day/img/260423/num-04.png?$staticlink$" width="206" height="120" alt="04" loading="lazy">
								<picture>
									<source media="(min-width:769px)" srcset="asset/topics/campaign/mothers_day/img/260423/title-gift_pc.svg?$staticlink$" width="599" height="29">
									<img src="asset/topics/campaign/mothers_day/img/260423/title-gift_sp.svg?$staticlink$" width="237" height="52" alt="GIFT WRAPPING SERVICE" loading="lazy">
								</picture>
								<span class="mothers-sectionTitle__text">ギフトラッピングサービスについて</span>
							</h2>
							<div class="mothers-giftContents__bg">
								<div class="mothers-giftContents">
									<a href="../../service/gift.html#wrappingService" class="mothers-giftContents__banner">
										<img src="asset/topics/campaign/mothers_day/img/260423/img-gift.png?$staticlink$" width="430" height="349" alt="ギフトサービス プレゼントする「シーン」や「贈り方」を多数ご用意" loading="lazy">
									</a>
									<div class="mothers-giftContents__item">
										<p class="mothers-giftContents__text">期間中、ワコールウェブストアで合計5,500円以上（セール含む）ご購入で<b>ギフトラッピングサービスが無料</b>に！</p>
										<p class="mothers-giftContents__terms">開催期間 : 5月10日（日） 23:59まで</p>
									</div>
									<div class="mothers-giftContents__item">
										<a href="../../service/gift.html#wrappingService" class="mothers-button" data-type="bg">
											<span>詳しくはこちら</span>
											<svg xmlns="http://www.w3.org/2000/svg" width="13" height="10"><use href="#icon-arrow-right"></use></svg>
										</a>
										<p class="mothers-giftContents__note"><small>※5/10(日)のお届けがご指定がいただけるのは、4/27(月)～5/3(日)20:59までのご注文です。</small></p>
									</div>
								</div>
							</div>
						</div>
					</section>


					<!-- ############# MARK: Topics #############-->
					<section id="topics" class="mothers-topics">
						<h2 class="mothers-topics__title">
							<picture>
								<source media="(min-width:769px)" srcset="asset/topics/campaign/mothers_day/img/260423/title-topics_pc.svg?$staticlink$" width="114" height="115">
								<img src="asset/topics/campaign/mothers_day/img/260423/title-topics_sp.svg?$staticlink$" width="114" height="70" alt="" loading="lazy">
							</picture>
							<span>関連特集</span>
						</h2>
						<div class="mothers-topicsList">
							<div class="mothers-topicsList__item">
								<a href="../../topics/theme/otonajyosei_inner.html" class="mothers-topicsList__item-link">
									<img src="asset/topics/campaign/mothers_day/img/260423/img-topics01.png?$staticlink$" width="320" height="260" alt="" loading="lazy">
									<div class="mothers-topicsList__body">
										<span class="mothers-topicsList__title">55歳からのファッションと暮らし</span>
										<span class="mothers-topicsList__text">年齢を重ねるたびに、さらに輝く女性のためのアイテムをご紹介</span>
									</div>
								</a>
							</div>
							<div class="mothers-topicsList__item">
								<a href="../../topics/campaign/actieva.html" class="mothers-topicsList__item-link">
									<img src="asset/topics/campaign/mothers_day/img/260423/img-topics02.png?$staticlink$" width="320" height="260" alt="" loading="lazy">
									<div class="mothers-topicsList__body">
										<span class="mothers-topicsList__title">ACTIEVA「アクティーバ」</span>
										<span class="mothers-topicsList__text">自分らしくアクティブでいたい大人女性を応援する、WEBマガジン。60代からのアクティブ女性におすすめの商品をご紹介&#9834;</span>
									</div>
								</a>
							</div>
							<div class="mothers-topicsList__item">
								<a href="../../topics/campaign/andrecovery.html" class="mothers-topicsList__item-link">
									<img src="asset/topics/campaign/mothers_day/img/260423/img-topics03.png?$staticlink$" width="320" height="260" alt="" loading="lazy">
									<div class="mothers-topicsList__body">
										<span class="mothers-topicsList__title">＆RECOVERY</span>
										<span class="mothers-topicsList__text">すべては、毎日のからだのために。着ているだけでリカバリー習慣を実践できます。</span>
									</div>
								</a>
							</div>
							<div class="mothers-topicsList__item">
								<a href="../../topics/campaign/nightbra.html" class="mothers-topicsList__item-link">
									<img src="asset/topics/campaign/mothers_day/img/260423/img-topics04.png?$staticlink$" width="320" height="260" alt="" loading="lazy">
									<div class="mothers-topicsList__body">
										<span class="mothers-topicsList__title">ナイトブラ 完全ガイド</span>
										<span class="mothers-topicsList__text">ナイトブラにまつわるギモン解説や新作情報、人気ランキング、みんなのおすすめレビューをお届けします！</span>
									</div>
									</a>
							</div>
							<div class="mothers-topicsList__item">
								<a href="../../topics/theme/pajama_roomwear.html" class="mothers-topicsList__item-link">
									<img src="asset/topics/campaign/mothers_day/img/260423/img-topics05.png?$staticlink$" width="320" height="260" alt="" loading="lazy">
									<div class="mothers-topicsList__body">
										<span class="mothers-topicsList__title">ルームウェア・パジャマ特集</span>
										<span class="mothers-topicsList__text">人気のルームウェア・パジャマを豊富なラインアップで取り揃えています！</span>
									</div>
								</a>
							</div>
							<div class="mothers-topicsList__item">
								<a href="../../disp/001950034019/" class="mothers-topicsList__item-link">
									<img src="asset/topics/campaign/mothers_day/img/260423/img-topics06.png?$staticlink$" width="320" height="260" alt="" loading="lazy">
									<div class="mothers-topicsList__body">
										<span class="mothers-topicsList__title">ディアヒップシリーズ</span>
										<span class="mothers-topicsList__text">ギフトにおすすめ！カラー・サイズも充実♪ラクなのに、スッキリきれいにととのうロングセラーシリーズ</span>
									</div>
								</a>
							</div>
						</div>
					</section>
				</div>
				<Symbols />
			</main>
		</div>
		<!-- /#r2-main -->
	</div>
	<!-- End content-asset -->
  <!-- 
	#####################################################################################
	#####################################################################################
	#####################################################################################
	#####################################################################################
	#####################################################################################

	MARK: ページコンテンツここまで 

	#####################################################################################
	#####################################################################################
	#####################################################################################
	#####################################################################################
	#####################################################################################
	-->
</BaseLayout>
